<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container">

        <a class="navbar-brand" href="/">
           Management Rumah Sakit Medika
        </a>

        <div>
            <a href="/patients" class="btn btn-light btn-sm">
                Pasien
            </a>
        </div>

    </div>

</nav>